/*
  - plugins run before presets
  - plugins are in order (first to last)
  - presets are in reverse order
*/

{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": ["@babel/preset-env"]
}