{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "babelrc": false,
      "configFile": false,
      "presets": ["@babel/preset-env"],
      "parserOpts": {
        "plugins": ["jsx"]
      }
    }
  },
  "rules": {
    "no-console": 0,
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-param-reassign": ["error", { "props": false }]
  },
  "globals": {
    "window": true,
    "document": true
  }
}
