li a:hover:not(.active) {
  background-color: grey;
}

/* center nav contents on mobile */
@media (max-width: 480px) {
  .container-fluid {
    justify-content: center!important;
  }
}

.navButton {
  width: 100%!important
}

.navButton a:hover:not(.active) {
  background-color: grey;
}

.navBrand:hover:not(.active) {
  background-color: grey;
}