#page-numbers {
  padding: 0;
  white-space: nowrap; /* for horizontal scroll */
  overflow: auto;
  margin: auto;
  height: 40px;
}

#page-numbers > li {
  display: inline-block;
  margin: 0 0.3em;
  user-select: none;
  cursor: pointer;
}

#page-numbers > li:hover {
  color: rgb(0, 191, 255);
}

.highlight {
  color: rgb(0, 102, 255) !important;
}

.nav-button {
  margin: 0 0.3em;
  font-size: 14px;
  border: none;
}