#page-numbers {
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  background: none;
}

#page-numbers > li {
  margin: 0 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.highlight {
  color: black !important;
}
